---
import Base from "./Base.astro";
import { SEO } from "astro-seo";
import { evaluate } from "@mdx-js/mdx";
import { readFile } from "node:fs/promises";
import { HomeModernIcon } from "@heroicons/react/24/solid";

export interface Article extends Awaited<ReturnType<typeof evaluate>> {
	tags?: string[] | string;
	published?: Date;
	modified?: Date;
}

const { file, frontmatter } = Astro.props;

const raw = await readFile(file);

// Since we're mocking the runtime to just obtain metadata exports
// we need to strip out custom components
const importsStripped = raw
	.toString()
	.replaceAll(/import .*|export const components .*/gi, "");
const mocked = new Proxy(Object.create(null), {
	get: () => () => {},
});
const article: Article = await evaluate(importsStripped, mocked);

const getArticleTags = () => {
	if (
		article.tags &&
		(Array.isArray(article.tags) || typeof article.tags === "string")
	) {
		if (Array.isArray(article.tags)) {
			return article.tags;
		}

		return article.tags.split(", ");
	}

	return frontmatter.tags.split(", ");
};

const publishedTime =
	article.published instanceof Date
		? article.published.toISOString()
		: undefined;
const modifiedTime =
	article.modified instanceof Date
		? article.modified.toISOString()
		: undefined;
const tags = getArticleTags();
---

<Base>
	<SEO
		title={`${frontmatter.title} | brittle.systems`}
		description={frontmatter.description}
		openGraph={{
			basic: {
				title: frontmatter.title,
				type: "article",
				// TODO: Same as favicon
				image: "",
			},
			optional: {
				description: frontmatter.description,
			},
			article: {
				authors: [frontmatter.author],
				publishedTime: publishedTime,
				modifiedTime: modifiedTime,
				section: frontmatter.section,
				tags: tags,
			},
		}}
		slot="head"
	/>
	<body>
		<div
			class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 my-8 flex flex-col items-center lg:items-stretch lg:grid lg:justify-center lg:grid-cols-8">
			<!-- `>= lg` -->
			<div
				class="hidden lg:flex col-span-3 flex-col space-y-20 max-w-xs justify-between break-words text-sky-900">
				<header>
					<h1 class="text-5xl font-bold">
						{frontmatter.title}
					</h1>
					<h2 class="text-base font-normal italic">
						{frontmatter.description}
					</h2>
				</header>
				<footer>
					<div class="flex justify-between">
						<div class="flex flex-col">
							<a
								rel="author"
								href={`mailto:${frontmatter.author_email}`}>
								{frontmatter.author}
							</a>
							<time
								datetime={new Date(modifiedTime).toDateString()}
								title={new Date(modifiedTime).toDateString()}>
								{new Date(modifiedTime).toDateString()}
							</time>
						</div>
						<!-- Home -->
						<a href="/">
							<div
								class="transition duration-50 rounded-full
									outline outline-orange-500 bg-transparent hover:bg-orange-500
									p-2 inline-flex items-center
									text-white hover:text-slate-950
									opacity-25 hover:opacity-100">
								<HomeModernIcon
									className="transition duration-50 h-6 w-6"
								/>
							</div>
						</a>
					</div>
					{
						!!tags && (
							<div class="flex space-x-1 font-light">
								{tags.map((tag: string) => (
									<span>#{tag}</span>
								))}
							</div>
						)
					}
				</footer>
			</div>
			<article
				class="col-span-5 prose prose-invert prose-slate
					prose-p:font-serif prose-li:font-serif
					prose-lg md:prose-2xl lg:prose-4xl">
				<!-- `< lg`, prose has `max-width` stuff which affects the margins -->
				<header class="not-prose lg:hidden mb-16 text-orange-50">
					<h1 class="text-2xl font-bold break-words">
						{frontmatter.title}
					</h1>
					<h2 class="text-sm font-normal italic break-words">
						{frontmatter.description}
					</h2>
				</header>
				<!-- Reapplying prose classes here because prose has last and first
				child selectors which are affected even though the header above is
				hidden at `lg` -->
				<div
					class="col-span-5 prose prose-invert prose-slate
				prose-p:font-serif prose-li:font-serif
				prose-base md:prose-lg lg:prose-2xl">
					<slot />
				</div>
				<!-- `< lg`, prose has `max-width` stuff which affects the margins -->
				<footer class="not-prose lg:hidden mt-16 flex justify-between">
					<div class="text-sm text-orange-500 flex flex-col">
						<a
							rel="author"
							href={`mailto:${frontmatter.author_email}`}>
							{frontmatter.author}
						</a>
						<time
							datetime={new Date(modifiedTime).toDateString()}
							title={new Date(modifiedTime).toDateString()}>
							{new Date(modifiedTime).toDateString()}
						</time>
					</div>
					<!-- Home -->
					<a href="/" class="mr-2">
						<div
							class="transition duration-50 rounded-full
									outline outline-orange-500 bg-transparent hover:bg-orange-500
									p-2 inline-flex items-center
									text-white hover:text-slate-950
									opacity-25 hover:opacity-100">
							<HomeModernIcon
								className="transition duration-50 h-6 w-6 lg:h-8 lg:w-8"
							/>
						</div>
					</a>
				</footer>
			</article>
		</div>
	</body>
</Base>

<script lang="ts">
	document.addEventListener("keydown", event => {
		if (event.key === "Backspace" || event.key === "Escape")
			location.pathname = "/";
	});
</script>

<style scoped>
	body {
		@apply bg-slate-950;
	}
</style>

<style is:global>
	code {
		counter-reset: line;
	}

	[data-line]::before {
		counter-increment: line;
		content: counter(line);
		@apply mr-4 text-orange-50;
	}

	[data-line][data-highlighted-line]::before {
		@apply text-orange-500;
	}

	[data-highlighted-line] {
		background-color: rgba(255, 255, 255, 0.05);
	}
</style>
